<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.testng.listener.TestNGListener"></listener>
	</listeners>
	<test thread-count="10" name="Test" parallel="classes">
		<classes>
			<class name="com.tests.BaseTest" />
			<class name="com.tests.MenPageTest" />
			<class name="com.tests.WomenPageTest" />
			<class name="com.tests.DummyTest" />
			<class name="com.tests.StorePageTest" />
			<class name="com.tests.NavigationTests" />
			<class name="com.tests.HomePageTest" />
			<class name="com.tests.ContactUsPageTest" />
			<class name="com.tests.AccessorriesPageTest" />
			<class name="com.tests.AccountPageTest" />
			<class name="com.tests.AboutPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
